@import "../../../.cache/colors-waybar.css";

* {
  font-size: 15px;
  font-family: "FiraCode Nerd Font";
  color: @foreground;
}
#waybar {
  background: transparent;
  border-radius: 5px;
}
#workspaces {
  border-radius: 5px;
  box-shadow: 0px 0px black;
}

#workspaces button {
  padding: 0px 6px;
  color: @foreground;
  background: transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: @primary;
  color: @surface;
}

#workspaces button.active {
  background: @primary;
  color: @surface;
  font-weight: bold;
}

#workspaces,
#network,
#wireplumber,
#cpu,
#memory,
#language,
#clock,
#battery,
#backlight,
#custom-power,
#custom-crypto,
#tray,
#custom-notification {
  margin-left: 5px;
  margin-right: 5px;
  background: @surface;
  border-radius: 5px 0px 0px 5px;
  padding: 4px 14px;
}

#network,
#wireplumber,
#cpu,
#memory,
#language {
  margin: 0px;
  border-radius: 0px;
}
#network {
  border-radius: 5px 0px 0px 5px;
}
#wireplumber {
  border-radius: 0px 5px 5px 0px;
  margin-right: 5px;
}

#cpu {
  border-radius: 5px 0px 0px 5px;
}

#language {
  margin-right: 5px;
  border-radius: 0px 5px 5px 0px;
}

#clock,
#battery,
#backlight,
#workspaces,
#custom-power,
#battery,
#custom-crypto,
#tray,
#custom-notification {
  border-radius: 5px;
}

#tray {
  margin: 0px;
}

#custom-power {
  color: @error;
  margin-right: 10px;
  padding-right: 14px;
  transition: all 0.2s ease;
}

#custom-power:hover {
  background: @error;
  color: @surface;
}

#custom-crypto {
  font-family: cryptofont;
}

@keyframes equalizer {
  0% {
    color: @primary;
  }
  25% {
    color: @secondary;
  }
  50% {
    color: @tertiary;
  }
  75% {
    color: @error;
  }
  100% {
    color: @primary;
  }
}

#wireplumber,
#custom-power {
  color: @tertiary;
}

#network,
#custom-notification {
  color: @primary;
}

#custom-crypto,
#cpu,
#memory,
#language,
#clock,
#battery,
#backlight {
  color: @secondary;
}
