@import "colors.css";

.navigation-sidebar {
  background-color: @sidebar_bg_color;
  color: @window_fg_color;
}

headbar.default-decoration {
  margin-bottom: 50px;
  margin-top: -100px;
}

window.csd,
window.csd decoration {
  box-shadow: none;
}
